<%- include("partials/header.ejs") %>

<h1 id="singleblog"><%= blog.blogtitle %></h1>
<p id="singlecontent"><%= blog.content %></p>

<a href="/yourblogs">Back to your blogs</a>


<%- include("partials/footer.ejs") %>