<%- include("partials/header.ejs") %>
<main>
  <div class="container">
    <div>
    <h1 id="blogfusion">BlogFusion</h1>
    <h4>Easily create and customize engaging blog sites with Blogfusion, the ultimate tool for bloggers. Featuring intuitive design options, a responsive grid system, extensive prebuilt components, and powerful content management features, Blogfusion empowers you to share your stories effortlessly and beautifully.</h4>
    </div>
    <div id="list">
      <ul>
        <li>Quick access to Google search for researching topics and finding inspiration.</li>
        <li>Easily navigate to your personal blog posts and drafts to manage and edit your content.</li>
        <li>Create new blog posts effortlessly with a simple click, streamlining the content creation process</li>
        <li>Intuitive and easy-to-use interface for seamless blog creation and management</li>
      </ul>
    </div>
    <div>
    <button id="button">Find something on Google >></button>
    </div>
  </div>
  <img src="/Images/blog.webp" alt="Blog image">
</main>
<%- include("partials/footer.ejs") %>

